/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: 700;}
em {font-style: italic;}


/* General
***********************/
body {
	font-size:16px;
	line-height:22px;
	height: auto;
	font-family: 'Quicksand', sans-serif;
	color:#373648;
	background-color:#f2f9f3;
}
a:link {color: #515e5a; text-decoration:none;}
a:visited {color: #515e5a; text-decoration:none;}
a:hover {color: #363f3c; text-decoration:none;}
a:active {color: #515e5a; text-decoration:none;}

.Cabin Sketch {
	font-family: Cabin Sketch;
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-family: 'Cabin Sketch';
	font-size:55px;
	line-height:60px;
	color:#D56724;
}
h2 {
	font-family: 'Cabin Sketch';
	font-size:86px;
	line-height:100px;
	color:#FFFFFF;
	margin-bottom:10px;
}
.bigSpace {
	height:160px;
	width:100%;
	clear:both;
}
.space {
	width:100%;
	clear:both;
}
.space3 {
	width:100%;
	clear:both;
}
.space2 {
	display:none;
}
.space1 {
	display:none;
}
.wrapper {
		width:94%;
		max-width:1200px;
		margin:0px auto;
}
.whiteBkg {
	background-color:#F4F5EE;
	width:100%;
}
input {
	width:90%;
	border:0px;
	padding:10px 5% 10px 5%;
	font-size:14px;
	margin-bottom:15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:transparent;
	font-family: 'Quicksand', sans-serif;
	color:#000000;
	font-weight:500;
	background-image:url(../images/form_bkg.png);
}
input[type=submit] {
	background-image:none;
	background-color:#d76713;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
textarea {
	width:94%;
	border:0px;
	background-color:transparent;
	padding:10px 3% 10px 3%;
	font-size:13px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Quicksand', sans-serif;
	background-image:url(../images/form_bkg.png);
}
.success {
	font-size:18px;
	width:94%;
	max-width:800px;
	text-align:center;
	padding-top:100px;
	margin:0px auto;
}


/* Navbar */

header {
    height: 70px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:3px;
	z-index:99999;
	background: -webkit-linear-gradient(#a7ccbc, #c9e5da);
  	background: -o-linear-gradient(#a7ccbc, #c9e5da);
  	background: -moz-linear-gradient(#a7ccbc, #c9e5da);
  	background: linear-gradient(#a7ccbc, #c9e5da);
}
.nav-up {
    top: -70px;
}
.navbar1 a:link {color: #FFFFFF; text-decoration:none;}
.navbar1 a:visited {color: #FFFFFF; text-decoration:none;}
.navbar1 a:hover {color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:pressed {color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:active {color: #FFFFFF; text-decoration:none;}

.btnPressed a:link {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:visited {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:hover {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:pressed {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:active {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}

.navWrapper {
	padding:0px 15px 0px 15px;
}
#top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}

#top-menu a {
    display: block;
    margin: 25px 14px 0px 14px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #ffffff;
    text-decoration: none;
	padding:2px 3px 2px 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#top-menu a:hover {
	color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

#top-menu li.active a {
    color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

.navbar2 {
	display:none;
}
.twitterIcon {
	width:6%;
	max-width:40px;
	background-image:url(../images/twitter.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:23px 19px;
}
.twitterIcon:hover {
	background-image:url(../images/twitter_rollover.png);
	cursor:pointer;
}
.googleplusIcon {
	width:6%;
	max-width:40px;
	background-image:url(../images/googleplus.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:21px 19px;
}
.googleplusIcon:hover {
	background-image:url(../images/googleplus_rollover.png);
	cursor:pointer;
}
.pinterestIcon {
	width:6%;
	max-width:40px;
	background-image:url(../images/pinterest.png);
	height:20px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:20px 20px;
}
.pinterestIcon:hover {
	background-image:url(../images/pinterest_rollover.png);
	cursor:pointer;
}
.dribbbleIcon {
	width:6%;
	max-width:40px;
	background-image:url(../images/dribbble.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:19px 19px;
}
.dribbbleIcon:hover {
	background-image:url(../images/dribbble_rollover.png);
	cursor:pointer;
}
.emailIcon {
	width:6%;
	max-width:40px;
	background-image:url(../images/instagram.png);
	height:20px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:20px 20px;
}
.emailIcon:hover {
	background-image:url(../images/instagram_rollover.png);
	cursor:pointer;
}


/* Banner */

.bannerBkg {
	background-image:url(../images/surfer.jpg);
	background-size: 100%;
	background-position:top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	height: 645px;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
#bannerRight {
	float:right;
	width:50%;
}
.bannerWrapper {
	width:94%;
	max-width:960px;
	margin:0px auto;
}
.drops {
	opacity:0;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
}
.bannerText {
	font-family: 'Cabin Sketch';
	font-size:130px;
	line-height:115px;
	color:#ffffff;
	text-align:right;
	width:46%;
	float:left;
	padding-top:155px;
	letter-spacing:-1px;
}
.bannerTextSmall {
	font-family: 'Quicksand', sans-serif;
	font-size:22px;
	line-height:29px;
	letter-spacing:0px;
}
.tentacles {
	width:473px;
	float:left;
	margin-left:35px;
	margin-top:-10px;
}
.tentaclesHeader {
	position:fixed;
	float:left;
	left:50%;
	top:70px;
	z-index:999;
}
#tentaclesHeader2 {
	position:absolute;
	float:left;
	left:50%;
	top:70px;
	z-index:99;
	background-image:url(../images/tentacles.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:473px;
	height:590px;
}


/* Tagline */

.tagline {
	width:100%;
	background-color:#c0d8ce;
	padding:77px 0px 107px 0px;
	border-top:1px solid #F4F5EE;
}
.taglineWrapper {
	width:94%;
	max-width:900px;
	margin:0px auto;
	font-size:28px;
	color:#666666;
	text-align:center;
	font-weight:300;
	line-height:40px;
}

/* Services */


.servicesWrapper {
		width:94%;
		max-width:1170px;
		margin:0px auto;
}
.servicesBox {
	width:20.6%;
	float:left;
	margin-right:5.86%;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.servicesBoxLast {
	width:20.6%;
	float:left;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.servicesCircle {
	background-color:#f2f9f3;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
}
.servicesCircle img {
	width:73.2%;
	max-width:82px;
}
.servicesTitle {
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.servicesDivide1 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #83ad9f;
}
.servicesDivide2 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #afccc2;
}
.servicesDivide3 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}
.servicesDivide4 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BCC2B6;
}
#designIcon {
	visibility: hidden;
}
#developmentIcon {
	visibility: hidden;
}
#newsletterIcon {
	visibility: hidden;
}
#socialIcon {
	visibility: hidden;
}


/* About */


.aboutPic {
	width:100%;
	background-image:url(../images/me4.jpg);
	background-size: 100%;
	background-position:center center;
}
.aboutText {
	float:left;
	width:36%;
	max-width:500px;
	padding:70px 7% 70px 7%;
	font-size:16px;
	line-height:23px;
	text-align:left;
	color:#888888;
}
.aboutOctopus {
	float:left;
	width:50%;
	margin-top:-140px;
	text-align:right;
}
.aboutOctopus img {
	/*padding-right:50px;*/
}
.instagram {
	width:100%;
	max-width:800px;
	margin:10px auto 0px auto;
	-webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
	opacity: 0.9;
    filter: alpha(opacity=90);
}
.twitterBkg {
	margin-top:-95px;
	text-align:center;
	padding-bottom:70px;
	padding-top:50px;
	width:100%;
}
.twitterCircle {
	background-color:#f2f9f3;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
}
.twitterCircle img {
	width:50%;
	max-width:82px;
	margin-top: -20px;
}
#twitterIcon {
	visibility: hidden;
}
.twitterLink {
	font-size:15px;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing:1px;
}
.twitterDivide {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}


/* Boxes */

.workGroup2 {
	display:none;
}
.boxesInfo {
	font-size:11px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:2px 50px 0px 50px;
	line-height:15px;
}
.popUpLeft {
	width:57%;
	float:left;
	margin-right:5%;
}
.popUpLeft img {
	width:100%;
}
.popUpRight {
	width:38%;
	float:right;
}
.popUpFull img {
	width:100%;
	max-width:850px;
	text-align:center;
}
.popUpTitle {
	color:#749991;
	font-size:32px;
	line-height:35px;
	margin-bottom:10px;
}
.popUpBtn {
	background-color:#bdcbb6;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:10px 5% 10px 5%;
	width:90%;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.popUpBtn:hover {
	background-color:#778472;
	cursor:pointer;
}
.popUpRight a:link, .popUpFull a:link {color: #ffffff; text-decoration:none;}
.popUpRight a:visited, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:hover, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:active, .popUpFull a:visited {color: #ffffff; text-decoration:none;}

.popUpService {
	font-size:13px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:4px;
	background-color:#EEEFE5;
	margin-bottom:10px;
	text-align:center;
}

.ltGreenBox {
	width:25%;
	float:left;
	background-color:#afd6ba;
	text-align:center;
	letter-spacing:3px;
	color:#FFFFFF;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.ltGreenBox img {
	width:60%;
	height: 60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkGreenBox {
	width:25%;
	float:left;
	background-color:#7da38a;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.dkGreenBox img {
	width:60%;
	height: 60%;
	max-width:210px;
	margin-bottom:10px;
}
.yellowBox {
	width:25%;
	float:left;
	background-color:#e2eade;
	text-align:center;
	letter-spacing:3px;
	color:#778472;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.yellowBox img {
	width:60%;
	height: 60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkOrangeBox {
	width:25%;
	float:left;
	background-color:#708c85;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.dkOrangeBox img {
	width:60%;
	height: 61%;
	max-width:210px;
	margin-bottom:10px;
}
.ltOrangeBox {
	width:25%;
	float:left;
	background-color:#89a59e;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.ltOrangeBox img {
	width:60%;
	height: 60%;
	max-width:210px;
	margin-bottom:10px;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #d76713;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #813107;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #813107;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}

/* Contact */


.contactBkg {
	width:100%;
	background-image:url(../images/294.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position:bottom center;
}
.contactWrapper {
	width:94%;
	max-width:710px;
	margin:0px auto;
	margin-top: 70px;
	text-align:center;
	font-size:18px;
	line-height:27px;
	padding:100px 0px 320px 0px;
}
.contactCol1 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol2 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol3 {
	width:32%;
	float:right;
	text-align:left;
}
.comments {
	width:66%;
	float:left;
	text-align:left;
}
.submit {
	width:32%;
	float:right;
}
.submitBtn {
	width:100%;
	background-color:#375952;
	height:120px;
	font-size:53px;
	font-family: 'Cabin Sketch';
	color:#e6e8bf;
	opacity: 1.0;
    filter: alpha(opacity=100);
	-moz-border-radius: 5px;
	border-radius: 5px;
	 -webkit-appearance: none;
}
.submitBtn:hover {
	background-color:#263d38;
	cursor:pointer;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
.submitBtnNew {
	padding:25px 0px 25px 0px;
	background-color:#375952;
	height:auto;
	font-size:50px;
	line-height:50px;
	font-family: 'Cabin Sketch';
	color:#e6e8bf;
	-moz-border-radius: 15px;
	border-radius: 15px;
	 -webkit-appearance: none;
	width:90%;
	margin:0px 5% 0px 5%;
}
.submitBtnNew:hover {
	background-color:#263d38;
	cursor:pointer;
}
.submitBtnBkg {
	width:100%;
	margin:0px auto;
	max-width:460px;
}
.submitBtnBkg a:link {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:visited {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:hover {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:active {color: #e6e8bf; text-decoration:none;}


/* Interior Pages */




/* Retina Display Images */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {


}
